<button class="open-button tri-right btm-left"
  (click)="onToggleChat(true)"
  [ngStyle]="{ 'width' : chatOpened ? '3.5em' : '4.5em' }"
  [ngClass]="{ 'x' : chatOpened }">{{ chatOpened ? 'X' : 'Chat' }}</button>

<div class="chat-popup" id="myForm" [ngStyle]="{ 'display' : chatOpened ? 'block' : 'none' }">
  <form class="form-container">
    <button type="button" class="btn cancel" (click)="onToggleChat(false)">X</button>
    <h2>Chat</h2>
    <div class="messages-container">
      <div class="chat-message"
        *ngFor="let msg of chatMessages; let i = index"
        [ngStyle]="{ 'background-color' :  i % 2 == 0 ? '#dbdbdb' : 'white'}"> {{ msg }}
      </div>
    </div>

    <textarea placeholder="Write something to your friends!" [(ngModel)]="message" name="msg" rows="2" required></textarea>

    <button type="submit" class="btn" style="margin-right: 20%;" (click)="onSendChat()">Send</button>
  </form>
</div>