<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalTitle" aria-hidden="true" [ngStyle]="{'display': popupIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="alertModalTitle" #alertTitle></h5>
        </div>
        <div class="modal-body">
          <p #alertBody></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="close()">Close</button>
        </div>
      </div>
    </div>
  </div>