/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&family=Fjalla+One&family=Source+Code+Pro:wght@600&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
}

html, body {
    background-color: #262626;
}

app-root {
    background-color: #262626;
}