button {
    color: white;
}

.card-header {
   background-color: #343a40;
}
.card-body {
    background-color: whitesmoke;
}
.card-body p{
    font-family: 'Roboto Slab', serif;
}

#myCards {
    margin-bottom: 180px;
}