/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.card-container{
}
.flip-container, .front, .back {
	width: 100%;
	padding-bottom: 145%;
}

/* flip speed goes here */
.flipper {
	transition: 0.8s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
  	left: 0;
  
  	text-align: center;
  	font-style: bold;  
}
.front p{
  font-size: 40px;
  padding-top: 120px;
}
.back p{
  font-size: 25px;
  padding-top: 40px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
  transform: rotateY(0deg);
  background-color: black;
  color: whitesmoke;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  background-color: whitesmoke;
  color: #050505;
}

.choiceButton.disabled {
	visibility: hidden;
}