html, body {
    background-color: white;
}

:host {
    font-family: Helvetica;
    background-color: white;
}
.card{
    padding: 10px;
}
#players{
    padding-bottom: 20px;
}

#mycards{
    padding-top: 20px;
}

