<div class="container">

    <div id = "row">
        <div id = "players">
            <div class = "card">
                <div class = "row">
                    <div *ngFor="let player of playerList;" class="col-4"><app-player-block [name]="player.name" [currMode] = "currMode"></app-player-block></div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row" #cards>
        <div class="col-4"><app-playing-card [currMode] = "currMode"></app-playing-card></div>
        <div class="col-4"><app-playing-card [currMode] = "currMode"></app-playing-card></div>
        <div class="col-4"><app-playing-card [currMode] = "currMode"></app-playing-card></div>
    </div>

    <div class = "row">
        <div class = "col">
            <div id = "mycards">
                <app-my-cards></app-my-cards>
            </div>
        </div>
    </div>



    <!-- <div class="row">
        <div class="col">
            <app-chat></app-chat>
        </div>
    </div> -->

</div>
        