<div class="container">

    <div class="row player-space justify-content-between">
        <div class="col-8 card">
            <div class="row">
                <app-player-block class="col" *ngFor="let player of playerList;" [player]="player" [currMode] = "currMode" [cardVotingOn] = "votingPhrase" (voted)="onVoted()"></app-player-block>
            </div>
        </div>
        <div class="col-4">
            <app-room-code [lobbyCode]="getRoomCode()"></app-room-code>
        </div>
    </div>

    <div class = "row" #cards>
        <div class="col-4 card-col">
            <app-playing-card [currMode]="currMode" [cardData]="card1" [numPlayers]="playerList.length"></app-playing-card>
        </div>
        <div class="col-4 card-col">
            <app-playing-card [currMode]="currMode" [cardData]="card2" [numPlayers]="playerList.length" [votingPhraseText] ="votingPhrase"></app-playing-card>
        </div>
        <div class="col-4 card-col">
            <app-playing-card [currMode]="currMode" [cardData]="card3" [numPlayers]="playerList.length"></app-playing-card>
        </div>
    </div>

    <div class = "row">
        <div class = "col">
            <div id = "mycards">
                <app-my-cards></app-my-cards>
            </div>
        </div>
    </div>

    <!-- Pop up boxes -->
    <div class="row">
        <div class="col">
            <app-results-popup #resultsPopup></app-results-popup>
        </div>
        <div class="col">
            <app-alert-popup #alertPopup></app-alert-popup>
        </div>
    </div>
    

    <!-- <div class="row">
        <div class="col">
            <app-chat></app-chat>
        </div>
    </div> -->

</div>
        