<div class = "container">
  <div class="row">
    <div class="col">
      <h1>Quarantine Cards.</h1>
    </div>
  </div>
  <div class="row" *ngIf="!this.showNameField">
    <div class="col">
      <button type="button" class="btn btn-lg btn-primary buttonPadding" id="startGameButton" (click)="onStartGame()">Start a new game!</button>
    </div>
  </div>
  <div class="row" *ngIf="!this.showNameField">
    <div class="col">
      <h2 class="separator">OR</h2>
    </div>
  </div>
  <!-- ROOM CODE FIELD -->
  <p id="noRoom" *ngIf="invalidRoom">Room not found!</p>
  <div class="row" *ngIf="!this.showNameField">
    <div class="col">
          <input type="text" class="form-control-lg joinForm" id="codeInput" [(ngModel)]="lobbyCode" placeholder="Room code" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row" *ngIf="!this.showNameField">
    <div class="col-12">
      <button type="button" class="btn btn-lg btn-info joinForm buttonPadding" id="joinButton" (click)="onJoinGame()">Join your friend's game!</button>
    </div>
    <div class="col-12">
      <h2 class="separator" style="white-space:nowrap; overflow:hidden;">----------------</h2>
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-lg btn-info buttonPadding" id="infoButton" (click)="onStartGame()">How to Play</button>
    </div>
  </div>

  <!-- NAME FIELD -->
  <div class="row" *ngIf="this.showNameField">
    <div class="col">
    <h3>What is your name?</h3>
    <h6 *ngIf="emptyName" class="invalid">Name cannot be empty!</h6>
    <h6 *ngIf="invalidName" class="invalid">Looks like your friend is already using that name.</h6>
    <h6 *ngIf="invalidName" class="invalid">Try adding some or all letters of your last name!</h6>
      <input type="text" class="form-control-lg joinForm" id="nameInput" [(ngModel)]="name" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="row" *ngIf="this.showNameField" id ="infoButtonContainer">
    <div class="col">
      <button type="button" class="btn btn-lg btn-success joinForm buttonPadding" id="joinButton" (click)="onEnterName()">Enter game</button>
    </div>
  </div>
</div>