/* .container {
    background-clip: border-box;
    background-color: #262626;
} */

:host {
    display: block;
    font-family: Helvetica;
    text-align: center;
    background-color: #262626;
    /* height: 100vh; */
}

h1 {
    font-size: 5rem;
    padding-top: 10rem;
    padding-bottom: 4rem;
    font-family: 'Special Elite', cursive;
}

h2, h3 {
    font-family: 'Special Elite', cursive;
}

#noRoom {
    color: red;
}

.invalid {
    color: red;
}

.separator {
    margin-top: 2%;
    margin-bottom: 2%;
}

#startGameButton{
    width: 40vw;
}

.joinForm {
    width: 40vw;
    text-align: center;
}

.gameCodeForm{
    width: 40%;
    margin: auto;
    margin-top: 4%;
}

#codeInput {
    margin-bottom: 1%;
}

.buttonPadding {
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

@media (max-width: 760px) {
    h1 {
        font-size: 4rem;
        padding-bottom: 2rem;
        padding-top: 8rem;
    }

    h2 {
        font-size: 1.7rem;
    }

    #startGameButton {
        width: 70vw;
    }

    .joinForm {
        width: 70vw;
    }

    .separator {
        margin-top: 8%;
        margin-bottom: 8%;
    }

    .buttonPadding {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 3.5rem;
        padding-top: 7rem;
    }
}

/* iPhone 5/SE */
@media (max-width: 320px) {
    h1 {
        font-size: 2.5rem;
        padding-top: 6rem;
    }
}