<div class = "container">
  <div class="row">
    <div class="col">
      <h1>Quarantine Cards.</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn-lg btn-primary buttonPadding" id="startGameButton" (click)="onStartGame()">Start a new game!</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="separator">OR</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- <div class="input-group mb-3 gameCodeForm"> -->
        <!-- <div class="input-group-prepend"> -->
          <input type="text" class="form-control-lg joinForm" id="codeInput" [(ngModel)]="lobbyCode" placeholder="Room code" aria-label="Username" aria-describedby="basic-addon1">
        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn-lg btn-info joinForm buttonPadding" id="joinButton" (click)="onJoinGame()">Join your friend's game!</button>
    </div>
  </div>
</div>