button{
    width: 100%;
}
.playerButton{
    padding-top: 10px;
    font-size: 15px;
}

#voteButton {
    text-align: left;
    display: inline-block;
}

#name {
    float: left;
}

#score {
    float: right;
}

@media screen and (max-width: 768px)
{
    .playerButton{
        font-size: 12px;
    }
    #score {
        display: block;
        float: none;
    }
}