button{
    width: 100%;
    min-height: 40px;
}
.playerButton{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-size: 15px;
}

@media screen and (max-width: 768px)
{
    .playerButton{
        font-size: 12px;
    }
}